
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --basic-black: #333333;
  --basic-white: #ffffff;
  --light-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-grey: #f2f2f2;
  --basic-blue: #81B3D2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body {
	margin: 0;
  padding: 0 20px;
  font-family: "PT Sans","Arial",sans-serif;
  text-transform: uppercase;
	background-color: var(--basic-grey);
  font-weight: 400;
  font-size: 14px;
	line-height: 21px;
	font-weight: 400;
  color: var(--basic-black);
}


.main-header {
  position: relative;
	margin: 0;
  font-size: 0;
  padding-right: 0;
  padding-left: 0;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

img {
  max-width: 100%;
  height: auto;
}


.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;}



.container{
  width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.main-navigation-wrapper{
  width: 100%;
  background-color: var(--basic-white);
  margin-bottom: 15px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}




.site-navigation {
	margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 0;
	width: 1200px;
  min-height: 56px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--light-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.site-navigation li {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    box-sizing: border-box; }

.site-navigation li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.site-navigation li:nth-child(2) {
    margin-right: 20%;
    padding-left: 30px;
}

.site-navigation li:last-child, .header-main li:nth-child(3) {
    text-align: right;
}

.header-main li:nth-child(3) {
    padding-right: 32px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
	z-index: 2;
	margin-left: -69px;
}

.page {
	width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.page-body {
  min-height: 100%;
	width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


.about {
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.about-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.about-lead {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  min-height: 256px;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.features-img {
  outline: 5px solid rgba(0, 255, 255, 0.7);
 outline-offset: -5px;
}



.features-item-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;

}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  column-gap: 200px;
  margin: 0;
  padding: 0;
  column-gap: 0;
}

.features-item-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  padding: 0;
  align-items: center;
  text-align: center;
}

.advantages-item-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size:21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantaged-item-number {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantages-text{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.reason .reason-first {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.reason-first-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  min-height: 256px;
  padding: 10px;
  background-color: var(--basic-blue);
}

.reason-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.reason-number {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.reason-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}


.reason .reason-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-width: 256px;
}

.reason-bridge {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  min-height: 256px;
  padding: 10px;
  background-color: var(--basic-blue);
}

.search-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.search-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.map {
  width:1200px;
  height: 594px;
  background-attachment: scroll;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

}


.main-footer {
	padding-top:36px;
  margin: 0 auto;
	background-color: #fff;
	text-align: center; }

.clearfix::after {
  content: "";
  display: table;
	clear: both; }

.columns {
  width: 33.33%;
	box-sizing: border-box;}

.footer-contacts {
    float: left;
    padding-top: 11px;
}




.footer-contacts a {
  color: #000;
  text-decoration: none;
	font-family: "PT Sans","Arial",sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
	font-size: 21px;
}

.footer-contacts p{
	color: #000;
  text-decoration: none;
	font-family: "PT Sans","Arial",sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
	font-size: 21px;
}



.footer-social {
    float: left;
    font-size: 0;
}

.social-button {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
	vertical-align: top;
    background-color: #81b3d2;
	  position: relative;
}

.social-button-twitter::before {
  width: 17px;
  height: 15px;
	background-position: -148px -54px;}

.social-botton-fb::before {
  width: 10px;
  height: 19px;
	background-position: -128px -54px; }


.social-btn-youtube::before {
    width: 20px;
    height: 16px;
	  background-position: -175px -54px; }

.footer-copyright {
    float: left;
    font-size: 0;
    padding-top: 6px;
}

.footer-copyright b {
    margin: 0 8px 0 0;
    font-size: 14px;
    line-height: 26px;
}

.footer-copyright a {
    width: 113px;
    height: 39px;
    background-position: -5px -37px;
}

.footer-copyright a,
.footer-copyright p {
    vertical-align: middle;
    display: inline-block;
}
