
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --basic-black: #333333;
  --basic-white: #ffffff;

  --light-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-grey: #f2f2f2;
  --basic-blue: #81B3D2;
}

body {
	width: 1200px;
  margin: 0;
  padding: 0;
  width: 768px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: no-decoration;
}

img{
  max-width: 100%;
  height: auto;
}

.page {
	width: 1200px;
  height: 100%;
}

.page-body {
  min-height: 100%;
	width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-navigation li {
  display: inline-block;
  width: 240px;
  vertical-align: middle;
  text-align: center;

}

main-navigation li:nth-child(2) {
  width: 240px;
  margin-right: 240px;

}


.main-header-logo {
  width: 138px;
  height: 70px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.container{
  width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.main-navigation-wrapper{
  width: 100%;
  background-color: var(--basic-white);
  margin-bottom: 15px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 1200px;
  min-height: 56px;
  margin: 0;
  padding: 0;
}
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--light-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-brown);
}

li {
  list-style-type: none;
}

.about {
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.about-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.about-lead {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  min-height: 256px;
}

.features-img {
}


.features-item-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;

}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  column-gap: 200px;
  margin: 0;
  padding: 0;
  column-gap: 0;
}

.features-item-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  padding: 0;
  align-items: center;
  text-align: center;
}

.advantages-item-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size:21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantaged-item-number {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantages-text{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.reason .reason-first {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.reason-first-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  min-height: 256px;
  padding: 10px;
  background-color: var(--basic-blue);
}

.reason-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.reason-number {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.reason-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}


.reason .reason-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-width: 256px;
}

.reason-bridge {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  min-height: 256px;
  padding: 10px;
  background-color: var(--basic-blue);
}

.search-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.search-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.map {
  width:1200px;
  height: 594px;
  background-attachment: scroll;

}




.main-footer {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  color: var(--basic-black);
  position: relative;
}

.main-footer .columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }


  .contacts {
  font-family: PT-Sans;
  bottom: 0;
  width: 400px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.visit-sedona-phone {

}

.contacts a:hover,
.contacts a:focus {
  text-decoration: none;
}



.footer-social-media {
  display: inline-block;

  width: 400px;
  text-align: center;
  justify-self: center;
}


.social-button {
  width: 46px;
  height: 48px;
  background-color: #7eadd4;
}


.social-button-twitter

.social-botton-fb

social-botton-yb


.footer-copyright {
  width: 33%;
}


.footer-copyright b {
  margin-right: 8px;
  font-weight: 400;
  line-height: 26px;
}
.main-footer-logo:hover path,
.main-footer-logo:focus path {
  fill: #81b3d2;
}
.main-footer-logo:active path {
  fill-opacity: 0.3;
}
