/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <=11
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --basic-black: #333333;
  --basic-white: #ffffff;
  --basic-brown: #766357;
  --basic-grey: #f2f2f2;
  --basic-blue: #81b3d2;
  --dark-blue: #669ec0;
  --steel-blue: #6e95bb;
  --dark-grey: #ababab;
  --medium-grey: #a9a9a9;
  --dark-brown: #604e43;
  --chocolate-brown: #503e33;
  --sky-blue: #5496bd;
  --concrete-grey: #7d7d7d;
  --light-grey: #eeeeee;
  --grey-92: #ebebeb;
  --silver: #cacaca;
  --grey-90: #e5e5e5;
  --pale-slate: #bdbbbc;
  --transparent: rgba(255, 255, 255, 0.3);
  --transparent-white: rgba(254, 254, 254, 0.9);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --form-box-shadow: rgba(0, 1, 1, 0.15);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
}

/* header */
.header {
  position: relative;
  background-color: var(--basic-white);
}

.page-header {
  box-sizing: border-box;
  z-index: 99;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.main-header {
  position: relative;
  margin: 0;
  font-size: 0;
  padding-right: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--basic-white);
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  min-height: 56px;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
}

.site-navigation li {
  width: 228px;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.site-navigation-current {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white);
  color: var(--basic-brown);
}

.page {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.page-body {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
  padding: 0;
}

.content {
  width: 1200px;
  margin: 0;
  box-shadow: 0 5px 15px var(--transparent-black);
}

.main-page {
  background-color: var(--basic-white);
  display: block;
}

.intro {
  min-height: 509px;
  background: url(../img/crucked-decoration.png) 0 453px no-repeat, url(../img/welcome-sedona.png) 50% 49% no-repeat, url(../img/sedona-canyon-main.jpg) 50% 100% no-repeat;
  background-color: var(--sky-blue);
  margin-bottom: 41px;
}

.info-city {
  margin: 0 auto;
  margin-bottom: 52px;
  text-align: center;
  color: var(--basic-black);
  max-width: 500px;
}

.info-city h2 {
  display: block;
  padding: 0;
  margin: 0 auto 44px;
  width: 450px;
  line-height: 26px;
}

.info-city p {
  margin: 0;
  color: var(--concrete-grey);
  line-height: 26px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.features {
  text-align: center;
  margin: auto;
  min-height: 256px;
}

.features-image {
  align-items: center;
}

.features-item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  -moz-column-gap: 200px;
  column-gap: 200px;
  margin: 0;
  padding: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  list-style: none;
}

.features-item {
  float: left;
  padding: 142px 48px 68px;
  text-align: center;
}

.features-item-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
}

.features-item-house {
  background: url(../img/icon-house.png) center 60px no-repeat;
}

.features-item-food {
  background: url(../img/icon-burger.png) center 60px no-repeat;
}

.features-item-souvenir {
  background: url(../img/icon-souvenir.png) center 56px no-repeat;
}

/* ЖИЛЬЕ ЕДА СУВЕНИРЫ */
.advantages {
  min-height: 256px;
  background-color: var(--light-grey);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 1px;
  align-items: center;
  text-align: center;
  list-style: none;
  margin: 0;
}

.advantages-item {
  padding: 0px 10% 0px;
}

.advantages-item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-bottom: 10px;
}

.advantages-item-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-bottom: 10px;
}

.advantages-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 22px;
}

.reason .reason-first {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.reason-first-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  min-height: 256px;
  width: 400px;
  padding: 32px;
  background-color: var(--basic-blue);
  flex-grow: 1;
}

.reason-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-bottom: 10px;
}

.reason-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.reason-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 12px;
}

.reason-img-first {
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.reason-image {
  max-width: 100%;
  height: 100%;
}

.reason .reason-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-height: 256px;
}

.reason-bridge {
  padding: 31px;
  float: left;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  flex-grow: 1;
  width: 400px;
  min-height: 256px;
}

/* SEARCH MODAL WINDOW */
.map {
  position: relative;
  height: 593px;
  overflow: hidden;
  z-index: 1;
}

.map-image {
  z-index: 1;
  height: 747px;
  width: 1200px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.map-interactive iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.search-hotel {
  position: relative;
  z-index: 20;
  margin: 0 auto;
  padding-top: 30px;
  width: 568px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.search-hotel-title {
  display: block;
  margin-top: 21px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: var(--basic-black);
  line-height: 36px;
}

.search-hotel-text {
  line-height: 24px;
  margin-bottom: 46px;
}

.button {
  display: block;
  border: 0;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  word-wrap: break-word;
  text-transform: inherit;
  cursor: pointer;
}

.button--brown {
  background-color: var(--basic-brown);
  outline: none;
  position: relative;
  padding: 30px 10px;
  width: 100%;
}

.button--brown:hover,
.button--brown:focus {
  background-color: var(--dark-brown);
}

.button--brown:focus {
  background-color: var(--chocolate-brown);
  outline-offset: -3px;
  color: var(--transparent);
}

.interactive-form {
  display: block;
  -webkit-animation: bounce 1.5s;
  animation: bounce 1.5s;
  position: relative;
  z-index: 4;
}

.form-hide {
  display: none;
}

/* Animations */
.form {
  position: absolute;
  z-index: 4;
  transform-origin: top;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--basic-white);
  padding-top: 53px;
  padding-right: 53px;
  padding-bottom: 55px;
  padding-left: 57px;
  box-shadow: 0 7px 15px var(--form-box-shadow);
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-70px);
  }

  30% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-70px);
  }

  30% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.form-search-input-block input::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}

.form-search-input-block input::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}

.form-search-input-block input:-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}

.form-search-input-block input:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}

.form-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.form-search-input-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  font-weight: 700;
  line-height: 26px;
}

.form-search-label {
  display: block;
  width: 112px;
  color: var(--basic-black);
}

.form-search-input-text {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 0;
  width: 307px;
  height: 38px;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  outline-color: var(--basic-grey);
}

.form-search-input-text:hover {
  background-color: var(--grey-92);
}

.form-search-input-text:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--grey-90);
}

.form-search-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  width: 38px;
  height: 38px;
  background-color: var(--basic-grey);
  cursor: pointer;
  outline: none;
}

.form-search-calendar-icon {
  width: 21px;
  height: 22px;
  fill: var(--medium-grey);
  outline: none;
}

.form-search-calendar:hover .form-search-calendar-icon {
  fill: var(--basic-black);
}

.form-search-calendar:focus .form-search-calendar-icon {
  fill: var(--basic-black);
}

.form-search-calendar:active .form-search-calendar-icon {
  fill: var(--basic-blue);
}

.form-search-quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 226px;
}

.form-search-button {
  position: relative;
  display: block;
  border: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: var(--basic-grey);
  cursor: pointer;
  outline-color: var(--basic-grey);
}

.form-search-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--medium-grey);
}

.form-search-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--medium-grey);
}

.form-search-button:hover::after,
.form-search-button:hover::before {
  background-color: var(--basic-black);
}

.form-search-button:active::after,
.form-search-button:active::before {
  background-color: var(--basic-blue);
}

.form-search-button--minus::before {
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
}

.form-search-button--minus::before {
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
}

.form-search-input-number {
  padding: 5px;
  width: 38px;
  text-align: center;
}

.form-search-button--plus::before {
  width: 11px;
  height: 3px;
  transform: translate(-50%, -50%);
}

.form-search-button--plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
  width: 11px;
  height: 3px;
}

.form-search-label--children {
  width: 65px;
}

.form-search-submit {
  margin-top: 54px;
  padding: 16px 10px;
  width: 100%;
}

.button--blue {
  background-color: var(--basic-blue);
  outline: var(--basic-blue);
}

/* FOOTER */
.page-footer {
  display: flex;
  padding: 36px 0;
  background-color: var(--basic-white);
  line-height: 26px;
  width: 1200px;
  max-height: 120px;
  overflow: auto;
}

.page-footer-index {
  z-index: 20;
  width: 1200px;
  margin-top: -120px;
  background-color: var(--transparent-white);
  position: relative;
}

.contacts {
  min-height: 52px;
  text-align: center;
  margin-left: 111px;
  margin-bottom: 11px;
  margin-bottom: 5px;
}

.contacts p {
  margin: 0;
  margin-right: 35px;
  padding-bottom: 10px;
  padding-bottom: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.page-footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
}

.tel {
  color: var(--basic-black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social-links-item {
  margin-left: 2px;
  margin-right: 4px;
}

.button {
  display: block;
  border: 0;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  word-wrap: break-word;
  text-transform: inherit;
  cursor: pointer;
}

.button-blue {
  background-color: var(--basic-blue);
}

.button-blue:hover {
  background-color: var(--dark-blue);
}

.button-blue:active path {
  fill: var(--transparent);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
}

.footer-copyright-text {
  color: var(--basic-black);
  padding-right: 10px;
  font-size: 14px;
}

.main-footer-logo {
  display: block;
  width: 113px;
  margin-right: 72px;
}

.page-footer-copyright-icon {
  width: 155px;
  height: 51px;
  fill: var(--basic-black);
  margin-top: 20px;
}

.main-footer-logo:hover path {
  fill: var(--basic-blue);
}

.main-footer-logo:active path {
  fill: var(--pale-slate);
}

/* ФИЛЬТРЫ СТРАНИЦА ПОИСКА ГОСТИНИЦ */
.form-filters {
  display: flex;
  padding: 27px 6% 6px;
  color: var(--basic-white);
  background-color: var(--steel-blue);
  background-image: url(../img/sedona-canyon-blur.jpg);
  background-position: 50% 16%;
  background-size: cover;
}

.form-filters-wrapper-left {
  display: flex;
  width: 48%;
}

.form-filters-fieldset {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: 0;
}

.form-filters-legend {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}

.form-filters-input-wrapper {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.form-filters-input-block {
  margin: 25px 0;
}

.form-filters-label-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.form-filters-label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.form-filters-checkbox:checked+.form-filters-label-checkbox::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.form-filters-checkbox:focus+label::before {
  content: "";
  position: absolute;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
}

.form-filters-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-inactive.svg");
  background-repeat: no-repeat;
  left: -1px;
  top: 1px;
}

.form-filters-checkbox:disabled:checked+label::after {
  content: "";
  position: absolute;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 23px;
}

.form-filters-checkbox:checked:disabled+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-inactive.svg");
  background-repeat: no-repeat;
  left: -1px;
  top: 1px;
}

.form-filters-checkbox:checked:disabled+label::before {
  opacity: 0;
}

.form-filters-wrapper-right {
  margin-left: auto;
  width: 30%;
}

.form-filters-legend {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.form-filters-label {
  display: block;
  width: 40%;
  text-align: right;
}

.zero {
  padding-right: 10px;
}

.three-thousand {
  padding-left: 10px;
}

.form-filters-interval {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px 20px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.form-filters-interval::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
}

.form-filters-range {
  position: relative;
  margin: 21px 0 32px;
}

.form-filters-range-scale {
  height: 2px;
  background-color: var(--transparent);
}

.form-filters-range-bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.form-filters-input-text {
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 2px;
  max-width: 49%;
  border: 0;
  font: inherit;
  color: inherit;
  background: 0;
}

.form-filters-range-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: content-box;
  padding: 0;
  width: 4px;
  height: 4px;
  border: 9px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--dark-grey);
  cursor: pointer;
}

.form-filters-range-handle:hover {
  border-width: 10px;
}

.form-filters-range-handle--min {
  left: 0;
}

.form-filters-range-handle--max {
  left: 79%;
}

.form-filters-button {
  display: block;
  margin-left: 85px;
  padding: 5px 34px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: 0;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  cursor: pointer;
}

.form-filters-button:hover {
  display: block;
  margin: 0 auto;
  padding: 5px 34px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font: inherit;
  font-style: normal;
  color: var(--basic-black);
  text-transform: inherit;
  cursor: pointer;
  background-color: var(--basic-white);
}

/* сОРТИРОВКА */
.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 6% 21px;
  line-height: 26px;
  border-bottom: 1px solid var(--grey-90);
}

.catalog-result-wrapper {
  width: 134px;
}

.catalog-result {
  font-size: 21px;
  font-weight: 700;
}

.catalog-sort-type-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort-text {
  width: 105px;
}

.sort-type {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 10px;
  list-style: none;
}

.sort-type-item {
  padding-right: 33px;
}

.sort-type-link {
  color: var(--transparent-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-type-link--active {
  border-bottom: 0;
  color: var(--basic-blue);
}

.sort-type-link:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-type-link:active {
  color: var(--basic-black);
  border-bottom: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.sort-direction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 110px;
}

.sort-direction-item {
  padding-left: 13px;
}

.sort-direction-link {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--silver);
}

.sort-direction-link:active {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--basic-blue);
}

.sort-direction-link:hover {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--basic-black);
}

.sort-direction-link:focus {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--basic-blue);
}

.sort-direction-link--active {
  border-bottom-color: var(--basic-blue);
}

.sort-direction-link--descending {
  transform: rotate(180deg);
}

/* РЕЗУЛЬТАТЫ ПОИСКА */
.hotel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 6% 29px;
  border-bottom: 1px solid var(--grey-90);
}

.hotel-image-wrapper {
  margin: 0;
  padding: 0;
  width: 134px;
}

.hotel-image {
  display: block;
  width: 135px;
  height: 90px;
}

.hotel-description-wrapper {
  flex-grow: 1;
  padding-left: 31px;
  padding-right: 31px;
}

.hotel-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 26px;
}

.hotel-link {
  color: var(--basic-black);
}

.hotel-link:hover {
  color: var(--basic-blue);
}

.hotel-link:active {
  color: var(--basic-black);
  opacity: 30%;
}

.hotel-description {
  display: flex;
}

.hotel-info {
  margin-right: 6px;
  width: 110px;
}

.hotel-text {
  padding-right: 50px;
  margin-top: 0;
  margin-bottom: 14px;
  text-align: center;
}

.hotel-button {
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;
}

.button--blue {
  background-color: var(--basic-blue);
}

.button--blue:hover {
  background-color: var(--dark-blue);
}

.button--blue:focus {
  background-color: var(--dark-blue);
}

.button--blue:active path {
  background-color: var(--dark-blue);
  color: var(--transparent);
  outline: none;
}

.button--brown {
  background-color: var(--basic-brown);
}

.button--brown:hover {
  background-color: var(--dark-brown);
}

.button--brown:active {
  background-color: var(--chocolate-brown);
  color: var(--transparent);
}

.button {
  border: 0;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: inherit;
  cursor: pointer;
}

.hotel-booking {
  width: 142px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
  padding-top: 4px;
  width: 110px;
}

.hotel-stars {
  max-width: 110px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.hotel-stars--two {
  width: 41px;
}

.hotel-stars--three {
  width: 65px;
}

.hotel-stars--four {
  width: 89px;
}

.hotel-rating-text {
  margin-top: 47px;
  margin-bottom: 0;
  padding: 3px 13px;
  background-color: var(--basic-grey);
}

/*# sourceMappingURL=style.css.map */

/* error page */

.error-page {
  display: block;
  text-align: center;
}

.error__number {
  font-family: "Merriweather";
  font-size: 144px;
  line-height: 181px;
  font-weight: 700;
  color: rgb(217, 232, 255);
  margin-top: 70px;
  position: absolute;
  z-index: -1;
  text-align: center;
}

.error-page__content--wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  text-align: center;
  padding: 0 15px 0 15px;
}

.error__message--big {
  font-family: "Merriweather";
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #080029;
  margin-top: 95px;
  font-size: 36px;
  font-weight: 700;
  margin-top: 145px;
}

.error__message--text {
  color: #080029;
  font-family: "Rubik";
  font-weight: 400;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  line-height: 155%;
  margin-bottom: 45px;

}

.main-page__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue);
  border-color: transparent;
  font-weight: 500;
  line-height: 17px;
  color: #FCFCFC;
  text-decoration: none;
  transition: all .5s 0s ease;
  margin-bottom: 43px;
  padding: 20px 75px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.main-page__button:hover {
    background: var(--dark-blue);
}


/* custom styles for UiSlider */

.noUi-target {
  cursor: pointer;

  :focus {
    outline: none;
  }
}

.noUi-horizontal {
  height: 9px;
}

.noUi-connect {
  background: $primary;
}

.noUi-base {
  background: $gray-light;
}

.noUi-horizontal .noUi-handle {
  top: -6px;
  right: -15px;
  width: 22px;
  height: 22px;
  background: $primary;
  border: 2px solid $secondary;
  border-radius: 50%;
  box-shadow: unset;
  cursor: pointer;
  transition: transform .1s;

  &:before, &:after {
    content: none
  }

  &:hover {
    transform: scale(1.1);
  }
}
